<div class="container">
  <h1>About video slider</h1>
  <section>
    <article>
      <h3>Вимоги</h3>
      <p>1. Потрібно зробити слайдер з відео: 8 відео – 4 в ряд.
        Для слайдера можна використовувати сторонні рішення.
      </p>
      <p>2. Кожне відео має відкриватися в поп-апі.
        Відповідне має відіграватися в автоплеї.
      </p>
      <p>
        3. Також, в поп-апі має бути пагінація яка відкриватиме відповідне відео.
      </p>
      <p>Потрібно реалізувати через Vimeo API –
        <b><a href="https://developer.vimeo.com/api/guides/start" target="_blank">
            https://developer.vimeo.com/api/guides/start
          </a>
        </b>
        <a href="https://player.vimeo.com/video/824804225">
          відео -- <b>https://player.vimeo.com/video/824804225</b></a>
    </article>
  </section>
</div>