@font-face {
   font-family: 'Jura';
   src: url('../../../assets/fonts/Jura/static/Jura-SemiBold.ttf');
 }
 
 @font-face {
   font-family: 'XanhMono';
   src: url('../../../assets/fonts/Xanh_Mono/XanhMono-Regular.ttf');
 }
 
 @font-face {
  font-family: 'slackey';
  src: url('../../../assets/fonts/Slackey/Slackey-Regular.ttf');
}


$font-main:'Jura',sans-serif;
$fontBold-main:'XanhMono',sans-serif;
$fontBold-sec:'slackey',sans-serif;
$colour-text-main: rgb(247, 214, 115);
$colour-text-second: rgb(235, 235, 235);
$colour-background:rgba(10, 10, 10, 0.9);
$colour-background-page:rgba(10, 10, 10, 0.85);