<div class="container">
  <section class="title-intro">
    <h1>Dive into the World of Video Emotions!</h1>
    <p>
      Our video slider brings life's greatest moments to your fingertips.
      Explore new worlds, enjoy captivating moments, and immerse
      yourself in the most interesting stories. Start your journey with us!
      <b>Hit the play</b> button and unlock a world of video emotions.
    </p>
  </section>
  <section class="sliders">
    <div class="first-row">
      <div class="nav-arrow left"></div>
      <div class="slide one"></div>
      <div class="slide two"></div>
      <div class="slide three"></div>
      <div class="slide four"></div>
      <div class="nav-arrow right"></div>
    </div>
    <div class="second-row">
      <div class="arrow left"></div>
      <div class="slide five"></div>
      <div class="slide six"></div>
      <div class="slide seven"></div>
      <div class="slide eig"></div>
      <div class="arrow right"></div>
    </div>
  </section>
  <div class="guid">
    <p>To view the next or previous slide, simply click the right or left arrows.</p>
    <p>You can also use the icons at the bottom for quick navigation to specific slides.</p>
  </div>
</div>