<div class="container">
  <section class="title-intro">
    <h1>Dive into the World of Video Emotions!</h1>
    <p>
      Our video slider brings life's greatest moments to your fingertips.
      Explore new worlds, enjoy captivating moments, and immerse
      yourself in the most interesting stories. Start your journey with us!
      <b>Hit the play</b> button and unlock a world of video emotions.
    </p>
  </section>
  <section class="carousel">
    <ng-container *ngIf="isOpen">
      <div class="modal-wraper">
        <div class="modal-widow">
          <button class="close" (click)="modalToggle()"></button>
          <div class="video"></div>
        </div>
      </div>
    </ng-container>
    <div class="carousel-container"  #carouselContainer>
      <div class="slide one" (click)="modalToggle()">1
        <iframe src="https://player.vimeo.com/video/824804225" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="slide two" #vimeoFrame (click)="modalToggle()">2</div>
      <div class="slide three">3</div>
      <div class="slide four">4</div>
      <div class="slide five">5</div>
      <div class="slide six">6</div>
      <div class="slide seven">7</div>
      <div class="slide eig">8</div>
    </div>
    <div class="nav-arrow right" (click)="scrollRight()">
      <p></p>
    </div>
    <div class="nav-arrow left" (click)="scrollLeft()">
      <p></p>
    </div>
  </section>
  <div class="guid">
    <p>To view the next or previous slide, simply click the right or left arrows.</p>
    <p>You can also use the icons at the bottom for quick navigation to specific slides.</p>
  </div>
</div>