@import '../../shared/styles/variables';

.container {
  background-color: $colour-background-page;
  color: $colour-text-second;
  font-family: $fontBold-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;

}

.title-intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 46px;
    font-weight: bolder;
    line-height: 110%;
    font-family: $fontBold-sec;
    color: $colour-text-main;
    margin-top: 50px;
  }

  p {
    width: 50%;
    line-height: 145%;
    margin-top: 20px;

    b {
      color: $colour-text-main;
      font-family: $fontBold-sec;
    }
  }
}

.first-row,
.second-row {
  display: flex;
  margin-top: 20px;
  position: relative;
}

.nav-arrow,
.arrow {
  position: absolute;
  top: 145px;
  width: 45px;
  height: 50px;
  background-image: $colour-lingradient;
  border-radius: 10px;

  p {
    position: absolute;
    top: 13px;
    left: 8px;
    width: 45px;
    height: 50px;
    background-image: url(../../../assets/icons/arrow_back_ios_new_FILL0_wght400_GRAD0_opsz24.svg);
    z-index: 1;
    background-repeat: no-repeat;
  }
}

.left {
  left: -15px;
}

.right {
  right: -15px;

  p {
    left: 13px;
    background-image: url(../../../assets/icons/arrow_forward_ios_FILL0_wght400_GRAD0_opsz24.svg);
  }

}

.slide {
  height: 320px;
  width: 300px;
  box-shadow: $colour-text-main 0px 2px 5px -1px, $colour-text-main 0px 1px 3px -1px;
  border-radius: 10px;
  margin: 10px;
}

.guid {
  padding: 20px;
}